{% extends 'admin/base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h1 class="col">Liste des catégories</h1>
                    <div class="col-2 text-right my-auto">
                        <a href="{{ path('categorie_new') }}" class="text-decoration-none" style="font-size: 1.5em;" title="Créer une catégorie">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                        <a href="{{ path('categorie_index') }}" style="font-size: 1.5em;" title="Revenir à la liste des catégories">
                            <i class="fas fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article_categorie in article_categories %}
                        <tr>
                            <td>{{ article_categorie.articleCategorieId }}</td>
                            <td>{{ article_categorie.articleCategorieNom | capitalize }}</td>
                            <td class="text-right">
                                <a class="btn btn-primary" href="{{ path('categorie_show', {'article_categorie_id': article_categorie.articleCategorieId}) }}">
                                    <i class="fas fa-eye"></i>
                                    Voir
                                </a>
                                <a class="btn btn-primary" href="{{ path('categorie_edit', {'article_categorie_id': article_categorie.articleCategorieId}) }}">
                                    <i class="fas fa-edit"></i>
                                    Modifier
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
