{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="card">
    <h1 class="card-header">Panier</h1>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Référence</th>
                <th class="text-center">Quantité</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Sous-total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for article in app.session.get('panier') %}
                {% set total = total + (article.quantite * article.article.ArticlePrixHt) %}
                <tr>
                    <td><img class="img-fluid" src="{{ asset('images/alimentation.png') }}" style="width: 100px" ></td>
                    <td><a href="#">{{ article.article.ArticleReference }}</td>
                    <td class="text-center">{{ article.quantite }}</td>
                    <td class="text-center">{{ article.article.ArticlePrixHt }}€</td>
                    <td class="text-center">{{ article.quantite * article.article.ArticlePrixHt }}€</td>
                    <td class="text-center">
                        <a href="#" class="text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" class="text-right">TOTAL</td>
                <td class="text-center">{{ total }}€</td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button class="btn btn-primary">Commander</button>
        </div>
    </div>
</div>
{% endblock %}
