{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="card">
    <h1 class="card-header">Panier</h1>
    <div class="card-body">
        <table class="table table-striped panier">
            <thead>
            <tr>
                <th></th>
                <th>Référence</th>
                <th class="text-center">Quantité</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Sous-total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}

            {% if app.session.get('panier') | length == 0 %}
                <td colspan="6">Le panier est vide...</td>
            {% endif %}

            {% for article in app.session.get('panier') %}
                {% set total = total + (article.quantite * article.article.ArticlePrixHt) %}
                <tr>
                    <td><img class="img-fluid" src="{{ asset('images/alimentation.png') }}" style="width: 100px" ></td>
                    <td><a href="#">{{ article.article.ArticleReference }}</td>
                    <td class="text-center">{{ article.quantite }}</td>
                    <td class="text-center">{{ article.article.ArticlePrixHt }}€</td>
                    <td class="text-center">{{ article.quantite * article.article.ArticlePrixHt }}€</td>
                    <td class="text-center">
                        <a href="#" class="text-danger btn-article-delete" data-id="{{ article.article.ArticleReference }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" class="text-right">TOTAL</td>
                <td class="text-center">{{ total }}€</td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button class="btn btn-primary {% if app.session.get('panier') | length == 0 %} disabled {% endif %}">Commander</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function() {
            $('.btn-article-delete').on('click', evt => {

                if( confirm( 'Êtes-vous sur de vouloir supprimer l\'article du panier?' ) )
                {
                    let id  = $( evt.currentTarget ).attr('data-id');
                    let url = '{{ path('panier_del_article', { id: 'id'}) }}';
                    url = url.replace('id', id);
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: response => {
                            location.reload();
                        }
                    })
                }
            });
        });
    </script>
{% endblock %}
