{% extends 'admin/base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h1 class="col">Consultation de l'article : {{ article.articleDesignation }}</h1>
                <div class="col-2 text-right my-auto">
                    <a href="{{ path('article_index') }}" style="font-size: 1.5em;"><i class="fas fa-arrow-circle-left"></i></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Reference</th>
                        <td>{{ article.articleReference }}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{ article.articleDesignation }}</td>
                    </tr>
                    <tr>
                        <th>Prix HT</th>
                        <td>{{ article.articlePrixHt }}</td>
                    </tr>
                    <tr>
                        <th>Description courte</th>
                        <td>{{ article.articleDescriptionCourte }}</td>
                    </tr>
                    <tr>
                        <th>Description longue</th>
                        <td>{{ article.articleDescriptionLongue }}</td>
                    </tr>
                    <tr>
                        <th>Stock minimum</th>
                        <td>{{ article.articleMinimumStock }}</td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td>{{ article.articleStock }}</td>
                    </tr>
                    {% for image in article.ImageUri %}
                    <tr>
                        <th>Image</th>
                        <td>
                            <img src="{{ asset( image.ImageUri ) }}" class="img-fluid cat-img-prev"/>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex">
                <a class="btn btn-primary mr-3" href="{{ path('article_edit', {'article_reference': article.article_reference}) }}">Modifier</a>

                {{ include('admin/article/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
