{% extends 'user/base.user.html.twig' %}

{% block titre %}Mes informations{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-md-12">
            {{ form_widget(form.user_sexe) }}
            {{ form_errors(form.user_sexe) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.user_nom) }}
            {{ form_widget(form.user_nom) }}
            {{ form_errors(form.user_nom) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.user_prenom) }}
            {{ form_widget(form.user_prenom) }}
            {{ form_errors(form.user_prenom) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.user_email) }}
            {{ form_widget(form.user_email) }}
            {{ form_errors(form.user_email) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.user_date_naissance) }}
            {{ form_widget(form.user_date_naissance) }}
            {{ form_errors(form.user_date_naissance) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
{% endblock %}
