{% extends 'user/base.user.html.twig' %}

{% block titre %}Modification du mot de passe{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-md-12">
            {{ form_label(form.old_password) }}
            {{ form_widget(form.old_password) }}
            {{ form_errors(form.old_password) }}
        </div>
        <div class="col-md-12">
            {{ form_widget(form.user_password) }}
            {{ form_errors(form.user_password) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
{% endblock %}
